version: '3.9'

services:
  # ====================
  # MV1
  # ====================
  ryw1:
    image: tarea_3-ryw1
    build:
      context: .
      dockerfile: ./RYW1/Dockerfile.RYW1
    container_name: RYW1
    profiles: ["mv1"]
    environment:
      - NODE_ID=RYW1
    restart: always
    networks:
      - red_global
    ports:
      - "51001:51001"

  mr1:
    image: tarea_3-mr1
    build:
      context: .
      dockerfile: ./MR1/Dockerfile.MR1
    container_name: MR1
    profiles: ["mv1"]
    environment:
      - NODE_ID=MR1
    networks:
      - red_global
    ports:
      - "52000:52000"

  datanode3:
    image: tarea_3-datanode3
    build:
      context: .
      dockerfile: ./datanode3/Dockerfile.datanode3
    container_name: datanode3
    profiles: ["mv1"]
    networks:
      - red_global
    ports:
      - "57000:57000"

  broker:
    image: tarea_3-broker
    build:
      context: .
      dockerfile: ./broker/Dockerfile.broker
    container_name: broker
    profiles: ["mv1"]
    volumes:
      - ./broker/flight_updates.csv:/flight_updates.csv  
    environment:
      - SERVICE_NAME=broker
      - GRPC_PORT=60000
    ports:
      - "60000:60000"
    networks:
      - red_global

  # ====================
  # MV2
  # ====================

  ryw2:
    image: tarea_3-ryw2
    build:
      context: .
      dockerfile: ./RYW2/Dockerfile.RYW2
    container_name: RYW2
    profiles: ["mv2"]
    environment:
      -  NODE_ID=RYW2
    restart: always
    networks:
      - red_global
    ports:
      - "51002:51002"

  mr2:
    image: tarea_3-mr2
    build:
      context: .
      dockerfile: ./MR2/Dockerfile.MR2
    container_name: MR2
    profiles: ["mv2"]
    environment:
      - SERVICE_NAME=MR2
    restart: always
    networks:
      - red_global
    ports:
      - "52001:52001"

  consenso1:
    image: tarea_3-consenso1
    build:
      context: .
      dockerfile: ./consenso1/Dockerfile.consenso1
    container_name: consenso1
    profiles: ["mv2"]
    restart: always
    networks:
      - red_global
    ports:
      - "57770:57770"

  # ====================
  # MV3
  # ====================

  
  ryw3:
    image: tarea_3-ryw3
    build:
      context: .
      dockerfile: ./RYW3/Dockerfile.RYW3
    container_name: RYW3
    profiles: ["mv3"]
    environment:
      - NODE_ID=RYW3
    restart: always
    networks:
      - red_global
    ports:
      - "51003:51003"

  datanode1:
    image: tarea_3-datanode1
    build:
      context: .
      dockerfile: ./datanode1/Dockerfile.datanode1
    container_name: datanode1
    profiles: ["mv3"]
    networks:
      - red_global
    ports:
      - "58000:58000"

  consenso2:
    image: tarea_3-consenso2
    build:
      context: .
      dockerfile: ./consenso2/Dockerfile.consenso2
    container_name: consenso2
    profiles: ["mv3"]
    restart: always
    networks:
      - red_global
    ports:
      - "57771:57771"

  # ====================
  # MV4 - BROKER
  # ====================
  
  coordinador:
    image: tarea_3-coordinador
    build:
      context: .
      dockerfile: ./coordinador/Dockerfile.coordinador
    container_name: coordinador
    profiles: ["mv4"]
    environment:
      - SERVICE_NAME=coordinador
    ports:
      - "54000:54000"
    networks:
      - red_global

  datanode2:
    image: tarea_3-datanode2
    build:
      context: .
      dockerfile: ./datanode2/Dockerfile.datanode2
    container_name: datanode2
    profiles: ["mv4"]
    networks:
      - red_global
    ports:
      - "59000:59000"

  consenso3:
    image: tarea_3-consenso3
    build:
      context: .
      dockerfile: ./consenso3/Dockerfile.consenso3
    container_name: consenso3
    profiles: ["mv4"]
    restart: always
    networks:
      - red_global
    ports:
      - "57772:57772"


# ====================
# RED GLOBAL
# ====================
networks:
  red_global:
    driver: bridge